@import "./layout/nav.css";
@import "./layout/header.css";
@import "./core/reset.css";
@import "./layout/body.css";
@import "./core/typography.css";
@import "./core/variaveis.css";
@import "./layout/aboutus.css";
@import "./layout/footer.css";

.imagem-principal {
    margin-top: 100px;
    max-width: 100%;
    height: auto;
}

button {
    background-color: #f31282; /* Cor do botão */
    color: white; /* Texto branco no botão */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno do botão */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave */
}