/* Header */

header {
  background-color: #0e1016;
  color: white;
  padding: 15px 15px 15px 15px;
}

header a {
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: white;
  transform: scale(1.05);
  font-weight: bold;
}

/* Logo */
#logo-principal {
  max-width: 100%;
  height: auto;
}

.menu-logo {
  width: 96px;
  height: 110px;
  display: block;
  margin: 1px auto 0;
  transition: transform 0.2s;
}

.menu-logo:hover {
  transform: scale(1.0.5);
}
