.menu-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #151820;
  padding: 5px;
}

.menu nav a {
  color: white;
}

/*lista*/
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  padding: 0 40px;
  margin: 0 20px;
  position: relative;
}

.menu-nav li:hover {
  transform: scale(1.1);
}

/*link*/

nav a {
  text-decoration: none;
  color: rgb(178, 178, 197);
  padding: 15px 4px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/*Responsividade*/

@media (max-width: 600px) {
  .menu-center {
    display: none;
  }
}
